body{
  margin: 0px 0px;
  background-color: #eee;
  font-family: 'abel', sans-serif;
  font-size:12pt;
}
.profilePhoto{
  border-radius:5%;
}
.fa{
  margin-right:6px;
}
.glyphicon{
  margin-right: 6px;
}
#space{
  padding:70px 0px 0px 0px;
}
.small-image{
  display:block;
  padding:5px;
}


